@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* Josh Comeau's CSS Reset*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
  margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html,
body {
  min-height: 100vh;
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Colors and Fonts */ 

:root {
  /* ### Primary */

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* ### Neutral */

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  --ff-extra-light: 200;
  --ff-regular: 400;
  --ff-semi-bold: 600;
}

/* General Settings */

body {
  background-color: var(--Very-Light-Gray);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: var(--ff-regular);
  color: var(--Grayish-Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card {
  max-width: 31.25rem;
  margin: 5.5rem 2rem
}

.text {
  text-align: center;
  margin-bottom: 5rem;
}

.text > h2 {
  font-size: 1.4375rem;
  font-weight: var(--ff-extra-light);
  color: var(--Very-Dark-Blue);
}

.text > p {
  font-size: .9375rem;
}

h1.featured {
  color: var(--Very-Dark-Blue);
  font-weight: var(--ff-semi-bold);
  margin-bottom: 1rem;
}

.card__blocs {
  display: grid;
  gap: 1.5rem;
}

div.card__aitype {
  font-size: 0.8125rem;
  padding: 1.25rem;
  border-radius: 0.5625rem;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.274);
}

.supervisor {
  background-image: linear-gradient(to bottom, var(--Cyan) 2%, white 2%);
}

.team {
  background-image: linear-gradient(to bottom, var(--Red) 2%, white 2%);
}

.karma {
  background-image: linear-gradient(to bottom, var(--Orange) 2%, white 2%);
}

.calculator {
  background-image: linear-gradient(to bottom, var(--Blue) 2%, white 2%);
}

div.card__aitype > h2 {
  color: var(--Very-Dark-Blue);
  font-size: 1.25rem;
  font-weight: var(--ff-semi-bold);
  margin-bottom: .125rem;
}

.card__aitype img {
  width: 3.5rem;
  margin: 2rem .75rem .75rem 0rem;
  align-self: flex-end;
}

.karma img, .calculator img {
  width: 3.5rem;
  margin-top: 1.9375rem;
}

.attribution {
  font-size: .6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 60em) {
  .card {
    transition: all 0.5s;
  }

  .supervisor {
    grid-area: one;
  }

  .team {
    grid-area: two;
  }

  .karma {
    grid-area: three;
  }

  .calculator {
    grid-area: four;
  }

  .card__blocs {
    height: auto;
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: repeat(3, 300px);
    grid-template-areas:
      "one two four"
      "one three four";
  }
}
